
#control-pane {
  -fx-padding: 5 5 5 5;
}

#control-line {
  -fx-spacing: 5;
}


.button,
.toggle-button {
  -fx-margin: 0;
  -fx-padding: 3px 10px;
  -fx-font-size: 12px;
}

.button:hover,
.toggle-button:hover {
  -fx-color: #33ccff;
}

#button-chooser {
  -fx-color: #666666;
}
#button-chooser:hover {
  -fx-color: #33ccff;
}
#button-control {
  -fx-color: #333333;
}
#button-control:selected {
  -fx-color: #cccccc;
}
#button-control:hover {
  -fx-color: #33ccff;
}


.tab {
  -fx-base: rgb(224, 224, 240);
}

.tab:selected {
  -fx-background-color: linear-gradient(to bottom, #99ccff, #cceeff);
}


.infolist-pane,
.video-pane {
 -fx-background-color:linear-gradient(to bottom,#333,#444); 
}


.table-view {
  -fx-base: rgb(224, 224, 240);
}

#row-cursor {
  -fx-background-color: linear-gradient(to bottom, #70b6f2 0%, #54a3ee 50%, #3690f0 51%, #1a62db 100%);
}

#row-cursor .table-cell {
  -fx-text-fill: #fff;
}


.slider {
  -fx-base: #33ccff;
}

#control-time .track {
  -fx-background-color:null; /* Hide the track */
  -fx-background-insets: 1 0 -1 0, 0, 1;
  -fx-background-radius: 2.5, 2.5, 1.5;
  -fx-padding: 0.208333em; /* 2.5 */
}


#time-text {
  -fx-fill: #333;
  -fx-font: 15 Consolas;
  -fx-text-alignment: right;
  -fx-padding: 6 0 0 0;
}

#volume-text {
  -fx-fill: #333;
  -fx-font: 15 Consolas;
  -fx-text-alignment: right;
  -fx-padding: 3 0 0 0;
}


#meta-image {
  -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 3, 0, 0, 0);
}
